[%# KDE weekly bug summary template  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
   title = "KDE Weekly Bug Summary"
%]

<h3 style="text-align:center;">Total: [% totalbugs %] bugs and [% totalwishes %] wishes</h3>

<h4 style="text-align:center;">[% new_open_bugs %] bugs opened, [% new_closed_bugs %] bugs closed in the last [% duration %] days<br>
([% new_open_wishes %] wishes opened, [% new_closed_wishes %] wishes closed)</h4>

<form action="weekly-bug-summary.cgi" style="text-align:center;">Report top
	[% sel = { name => 'tops'} %]
	[% INCLUDE select %]
summary over the last
	[% sel = { name => 'days'} %]
	[% INCLUDE select %]
days and <input type="submit" value="Show" />
</form>

<h3 style="text-align:center;">Top [% top_number %] KDE modules with the most bugs:</h3>

<table align="center" border="0" cellspacing="2" cellpadding="5">
<tr style="background-color: #EEF6FF;"><th>Product</th>
<th>Open<br />bugs</th>
<th>Opened in<br />last [% duration %] days</th>
<th>Closed in<br />last [% duration %] days</th>
<th>Change</th>
<th>Open<br />wishes</th>
<th>Opened in<br />last [% duration %] days</th>
<th>Closed in<br />last [% duration %] days</th>
<th>Change</th>
<th>&nbsp;</th></tr>

[%- FOREACH pr = product_bug_lists %]
<tr>
	<td><a href="component-report.cgi?product=[%- pr.name -%]">[%- pr.name -%]</a></td>
	<td style="text-align:right;"><a href="buglist.cgi?product=[%- pr.name -%]&amp;bug_status=UNCONFIRMED&amp;bug_status=CONFIRMED&amp;bug_status=ASSIGNED&amp;bug_status=REOPENED&amp;bug_severity=critical&amp;bug_severity=grave&amp;bug_severity=major&amp;bug_severity=crash&amp;bug_severity=normal&amp;bug_severity=minor">[%- pr.count -%]</a></td>
	<td style="text-align:right;">+[%- pr.bugs_opened -%]</td>
	<td style="text-align:right;">-[%- pr.bugs_closed -%]</td>
	<td style="text-align:right; background-color: [%- pr.bugs_change_color -%];">[%- pr.bugs_change -%]</td>
	<td style="text-align:right;"><a href="buglist.cgi?product=[%- pr.name -%]&amp;bug_status=UNCONFIRMED&amp;bug_status=CONFIRMED&amp;bug_status=ASSIGNED&amp;bug_status=REOPENED&amp;bug_severity=wishlist">[%- pr.total_wishes -%]</a></td>
	<td style="text-align:right;">+[%- pr.open_wishes -%]</td>
	<td style="text-align:right;">-[%- pr.closed_wishes -%]</td>
	<td style="text-align:right; background-color: [%- pr.wishes_change_color -%];">[%- pr.wishes_change -%]</td>
	<td style="text-align:right;"><a href="reports.cgi?product_id=[%- pr.id -%]&output=show_chart&datasets=CONFIRMED&datasets=ASSIGNED&datasets=REOPENED&datasets=UNCONFIRMED&datasets=RESOLVED&banner=1">Graph</a></td>
</tr>
[% END %]
</table>

<h3 style="text-align:center;" id="closers">Top [% top_number %] people who resolved the most reports in the last [% duration %] days:</h3>
<table align="center" border="0" cellspacing="2" cellpadding="5">
<tr style="background-color: #EEF6FF;">
	<th>User</th><th># Resolved</th>
</tr>
[%- FOREACH bh = bug_hunters_list %]
<tr>
	<td>[% bh.user FILTER html %]</td>
	<td>[% bh.count %]</td>
<tr>
[% END %]
</table>

<h3 style="text-align:center;" id="fixers">Top [% top_number %] people who most quickly fixed a report in the last [% duration %] days:</h3>
<table align="center" border="0" cellspacing="2" cellpadding="5">
<tr style="background-color: #EEF6FF;">
<th>User</th><th>Elapsed time</th></tr>
[%- FOREACH bf = bug_fixers_list %]
<tr>
	<td>[% bf.name FILTER html %]</td>
	<td>[% bf.formatted_elapsed %] (<a href="show_bug.cgi?id=[% bf.bugid %]">[% bf.bugid %]</a>)</td>
</tr>
[% END %]
</table>

[% PROCESS global/footer.html.tmpl %]


[%##########################################################################%]
[%# Block for SELECT fields                                                #%]
[%##########################################################################%]

[% BLOCK select %]
    <select name="[% sel.name %]">
    [%- FOREACH x = ${sel.name} %]
      <option value="[% x FILTER html %]"
        [% " selected=\"selected\"" IF x == default.${sel.name} %]>
          [% x FILTER html %]
        </option>
    [% END %]
    </select>
[% END %]
