/* mapping #page-toolbar to .navigation */

body.bz_bug .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--secondary-label-color);
}

body.bz_bug .navigation > * {
    margin: 4px;
}

/* .navigation {
    padding: 5px 10px;
    background: var(--primary-region-background-color);
} */

body.bz_bug #changeform .bz_short_desc_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    padding: 5px;
    background-color: var(--primary-region-background-color);
    box-shadow: var(--primary-region-box-shadow);
}

body.bz_bug #changeform .bz_short_desc_container > a {
    flex: auto;
    order: -1;
    padding: 4px 10px 8px 10px;
}

body.bz_bug #changeform .bz_short_desc_container > #summary_container,
body.bz_bug #changeform .bz_short_desc_container > #summary_input {
    flex-basis: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin: 4px 0;
    visibility: hidden;
    text-indent: -9px;
}

body.bz_bug #changeform .bz_short_desc_container > #summary_input {
    text-indent: revert;
}

body.bz_bug #changeform .bz_short_desc_container > #summary_container *,
body.bz_bug #changeform .bz_short_desc_container > #summary_input * {
    visibility: visible;
}

body.bz_bug #changeform .bz_short_desc_container #short_desc_nonedit_display {
    margin: 0;
    font-size: var(--font-size-h3);
    font-weight: 500;
}

body.bz_bug .bz_show_bug_column tr > * {
    vertical-align: middle;
    padding: 4px;
}

div.edit_form {
    position: relative;
    margin-bottom: 20px;
    padding: 10px 10px;
    background-color: var(--primary-region-background-color);
    box-shadow: var(--primary-region-box-shadow);
}

div.edit_form#edit_field_form_container {
    display: flex;
    flex-wrap: wrap;
}

div.edit_form hr,
div.edit_form .bz_column_spacer {
    display: none;
}

#product,
#component {
    width: 100%;
    max-width: 235px;
}

#add_comment {
    margin-bottom: 20px;
    border-top: 1px solid var(--primary-region-border-color);
    padding: 10px 0;
}

.related_actions {
    line-height: 19px;
    padding: 4px;
}

.text_input,
.bz_userfield,
#keywords_container,
#tag_container {
    width: 100%;
}

body.bz_bug #changeform table.edit_form {
    width: 100%;
    margin-top: 8px;
    /*
	background-color: var(--primary-region-background-color);
	box-shadow: var(--primary-region-box-shadow);
	border: 5px solid var(--primary-region-background-color);
	*/
}

body.bz_bug #changeform .bz_show_bug_column {
    vertical-align: top;
    padding: 16px;
}

.bz_comment_actions {
    visibility: hidden;
    line-height: initial;
}

.bz_comment_actions > * {
    visibility: visible;
    /* margin-left: 4px; */
}

.bz_comment_actions .bz_collapse_comment {
    width: 16px;
}

.bz_comment_user {
    order: -3;
}

.bz_comment_time {
    order: -2;
    flex: auto;
}

.bz_comment_number {
    order: -1;
}

.bz_comment {
    width: 100% !important;
    max-width: 1024px;
}

body.bz_bug form#changeform div#comments table.bz_comment_table {
    width: 100%;
}

body.bz_bug form#changeform div#comments table.bz_comment_table tbody tr {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

body.bz_bug
    form#changeform
    div#comments
    table.bz_comment_table
    tbody
    tr
    > td:nth-child(1) {
    flex-basis: 100%;
}

body.bz_bug
    form#changeform
    div#comments
    table.bz_comment_table
    tbody
    tr
    > td:nth-child(2) {
    order: -1;
}

body.bz_bug
    form#changeform
    div#comments
    table.bz_comment_table
    .bz_collapse_expand_comments {
    display: flex;
    align-items: center;
}

body.bz_bug
    form#changeform
    div#comments
    table.bz_comment_table
    .bz_collapse_expand_comments
    > * {
    margin-left: 8px;
}

body.bz_bug
    form#changeform
    div#comments
    table.bz_comment_table
    .bz_collapse_expand_comments
    > li:nth-child(3) {
    display: none;
}

body.bz_bug
    form#changeform
    div#comments
    table.bz_comment_table
    .bz_collapse_expand_comments
    > li
    > a,
body.bz_bug
    form#changeform
    div#comments
    table.bz_comment_table
    .bz_add_comment
    > a,
.bz_comment_actions > a {
    padding: var(--button-padding);
    border-color: var(--secondary-button-border-color);
    color: var(--secondary-button-foreground-color);
    background-color: var(--secondary-button-background-color);
    font-weight: 500;
    display: inline-block;
    outline: 0;
    border-radius: var(--button-border-radius);
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

body.bz_bug
    form#changeform
    div#comments
    table.bz_comment_table
    .bz_collapse_expand_comments
    > li
    > a:hover,
body.bz_bug
    form#changeform
    div#comments
    table.bz_comment_table
    .bz_add_comment
    > a:hover,
.bz_comment_actions > a:hover {
    border-color: var(--hovered-secondary-button-border-color);
    color: var(--hovered-secondary-button-foreground-color);
    background-color: var(--hovered-secondary-button-background-color);
}

body.bz_bug .bz_comment_tags {
    background: var(--application-background-color);
    padding: 0;
    border-top: revert;
}

body.bz_bug #bz_ctag_div {
    padding: 5px;
}

body.bz_bug .bz_comment_head,
body.bz_bug .bz_first_comment_head {
    margin-left: unset;
    padding-right: 0.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* body.bz_bug .bz_comment_head > *,
body.bz_bug .bz_first_comment_head > * {
    display: inline-block;
    vertical-align: baseline;
} */

body.bz_bug .bz_comment_text {
    width: unset;
}

body.bz_bug #bz_big_form_parts,
body.bz_bug #bz_big_form_parts > tbody > tr > td,
body.bz_bug #attachment_table,
body.bz_bug .bz_time_tracking_table {
    width: 100%;
}

body.bz_bug .bz_time_tracking_table > tbody > tr > * {
    text-align: left;
}

/*
body.bz_bug #bz_big_form_parts {
	margin: 0 auto;
}
*/

body.bz_bug #attachment_table,
body.bz_bug .bz_time_tracking_table {
    border-collapse: collapse;
    border-top: 1px solid var(--grid-border-color);
    background-color: var(--grid-background-color);
}

body.bz_bug #attachment_table tr.column_header,
body.bz_bug .bz_time_tracking_table tr.column_header {
    background-color: var(--grid-header-background-color);
}

body.bz_bug #attachment_table tr,
body.bz_bug .bz_time_tracking_table tr {
    border-bottom: 1px solid var(--grid-border-color);
}

body.bz_bug #attachment_table thead th,
body.bz_bug .bz_time_tracking_table thead th {
    padding: 4px 8px;
    font-size: var(--font-size-small);
    white-space: nowrap;
}

body.bz_bug #attachment_table tbody th,
body.bz_bug .bz_time_tracking_table tbody th {
    padding: 4px 8px;
    text-align: left;
}
body.bz_bug #attachment_table tbody td,
body.bz_bug .bz_time_tracking_table tbody td {
    padding: 8px;
    vertical-align: middle;
}

body.bz_bug
    #attachment_table
    > tbody
    > tr:not(.bz_attach_footer)
    > td:last-child {
    text-align: right;
}
body.bz_bug #add_comment > table {
    width: 100%;
}

#comment_preview + br {
    display: none;
}

body.bz_bug #comment,
body.bz_bug #comment_preview {
    clear: both;
    box-sizing: border-box !important;
    margin: 0 0 0.5em;
    padding: 12px;
    width: 100%;
}

body.bz_bug ul.related_actions {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

body.bz_bug ul.related_actions > li {
    visibility: hidden;
}

body.bz_bug ul.related_actions > li * {
    visibility: visible;
}

body.bz_bug form#changeform div#add_comment > table > tbody > tr > td,
body.bz_bug form#changeform table#bz_big_form_parts > tbody > tr > td,
body.bz_bug form#changeform table.bz_comment_table > tbody > tr > td {
    padding: 0;
}

body.bz_bug
    form#changeform
    div#add_comment.bz_section_additional_comments
    .knob-buttons {
    float: right;
}

body.bz_bug
    #comments
    > .bz_comment_table
    > tbody
    > tr
    > td
    > .bz_add_comment {
    float: right;
}

body.bz_bug
    form#changeform {
    margin-right: 8px;
}

body.bz_bug
    #bug_status_bottom {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

input#dup_id {
    padding: 5px;
}

#dup_id_discoverable {
    margin-left: 8px;
}

#bug_status_bottom > tbody > tr > td {
    text-align: right;
}

body.bz_bug
    #status {
    display: flex;
}

body.bz_bug
    form#changeform
    div#add_comment.bz_section_additional_comments {
    margin-top: 8px;
}

body.bz_bug
    form#changeform
    div#add_comment.bz_section_additional_comments
body.bz_bug
    form#changeform
    div#add_comment.bz_section_additional_comments
    #bug_status_bottom
    td {
    padding: 0;
}

body.bz_bug
    form#changeform
    div#add_comment.bz_section_additional_comments
    #dup_id_discoverable
    a {
    padding: var(--button-padding);
    border-color: var(--secondary-button-border-color);
    color: var(--secondary-button-foreground-color);
    background-color: var(--secondary-button-background-color);
    font-weight: 500;
    display: inline-block;
    outline: 0;
    border-radius: var(--button-border-radius);
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

body.bz_bug
    form#changeform
    div#add_comment.bz_section_additional_comments
    #dup_id_discoverable
    a:hover {
    border-color: var(--hovered-secondary-button-border-color);
    color: var(--hovered-secondary-button-foreground-color);
    background-color: var(--hovered-secondary-button-background-color);
}

.field_label a {
    color: var(--link-text-color);
}

.field_label a:hover {
    color: var(--hovered-link-text-color);
}

.field_help_link {
    cursor: revert;
}

#show_other_link {
    white-space: nowrap;
}
